<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout-manager}" layout:fragment="body">
<body>
    <section>
        <div id="weather-wrap">
            <p id="time"></p>

            <div id="weather">
            </div>
        </div>

        <div id="contents-wrap">
            <div class="sensor-data">
            </div>
        
            <div class="search-date-wrap">
                <span>센서 측정 기간</span>

                <select id="search-date" onchange="getChart('')">
                    <option value="DAY">하루</option>
                    <option value="MONTH">한달</option>
                    <!-- <option value="YEAR">년도</option> -->
                </select>
            </div>

            <figure class="area-chart">
                <div id="container">
                </div>
            </figure>
        </div>
    </section>
</body>

<script th:src="@{/js/chart.js}"></script>
</html>