<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout-root}" layout:fragment="body">
<style>
	tr {
		cursor: pointer;
	}
	
	.btn {
		font-size: 1rem;
	}
</style>
<body>
    <section>
		<div id="menu-wrap">
		    <p id="menu-name">하우스 관리</p>
		</div>
		
		<div class="search-data">
			<label>매니저명</label>
			<input type="text" id="search-manager-name">
			<label>관리 지역</label>
			<input type="text" id="search-region-name">
			
			<button class="btn small" onclick="search()">검색</button>
		</div>
		
		<div class="table-wrap">
			<table>
				<thead>
					<tr style="cursor: default">
						<th>아이디</th>
						<th>이름</th>
						<th>전화번호</th>
						<th>관리 지역</th>
					</tr>
				</thead>
			</table>
		</div>
    </section>
</body>
</html>