<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout-root}" layout:fragment="body">
<style>
	tr {
		cursor: pointer;
	}
	
	.btn {
		font-size: 1rem;
	}
</style>
<body>
    <section>
		<div id="menu-wrap">
		    <p id="menu-name">매니저 관리</p>
		</div>
		
		<div class="search-data">
			<label>매니저명</label>
			<input type="text" id="search-manager-name">
			<label>관리 지역</label>
			<input type="text" id="search-region-name">
			
			<button class="btn small" onclick="search()" style="margin-right: 0px">검색</button>
			<button class="btn small green" onclick="addForm()">등록</button>
		</div>
		
		<div class="table-wrap">
			<table>
				<thead>
					<tr style="cursor: default">
						<th>아이디</th>
						<th>이름</th>
						<th>전화번호</th>
						<th>관리 지역</th>
						<th>사용 여부</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
    </section>
	
	<div id="overlay"></div>
	<div id="modal">
	    <div class="modal-header">
	        <span class="modal-title"></span>
	        <span class="close">&times;</span>
	    </div>
	    <div class="modal-body">
			<form id="form">
		        <p>아이디</p>
				<input type="text" id="id" name="id" disabled>
				
				<p>
					<span>패스워드</span>
					<label class="alert-text"></label>
				</p>
				<input type="password" id="pwd" name="pwd">
				
				<p>이름</p>
				<input type="text" id="name" name="name">
				
				<p>전화번호</p>
				<input type="text" id="tel" name="tel">
				
				<p>관리 지역명</p>
				<select id="region-cd" name="region-cd">
				</select>
				
				<p>사용 여부</p>
				<p class="onoff">
					<input type="checkbox" id="useYn" name="useYn">
					<label for="useYn"></label>
				</p>
			</form>
	    </div>
	    <div class="modal-footer">
	        <button class="btn small green btn-save" id="save">저장</button>
	        <button class="btn small btn-close">닫기</button>
	    </div>
	</div>
</body>

<script th:src="@{/js/manager.js}"></script>
</html>