<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout-root}" layout:fragment="body">
<style>
	tr {cursor: pointer;}
	th {text-align: center;}
	.btn {font-size: 1rem;}
	th:first-child {width: 15%;}
	th:nth-child(2), td:nth-child(2) {width: 15%;}
	th:nth-child(3), td:nth-child(3) {width: 20%;}
	th:nth-child(4), td:nth-child(4) {width: 20%;}
	th:nth-child(5), td:nth-child(5) {width: 10%;}
</style>
<body>
    <section>
		<!--
		<div id="menu-wrap">
		    <p id="menu-name">매니저 관리</p>
		</div>
		-->
		
		<div class="search-data">
			<div>
				<label>매니저명</label>
				<input type="text" class="form-control" id="search-manager-name">
			</div>
			<div>
				<label>관리 지역</label>
				<input type="text" class="form-control" id="search-region-name">
			</div>
			<div>
				<button class="btn btn-sm btn-primary" onclick="search()">검색</button>
				<button class="btn btn-sm btn-success" onclick="addForm()">등록</button>
			</div>
		</div>
		
		<div class="table-wrap">
			<table class="table table-hover">
				<thead>
					<tr style="cursor: default">
						<th>아이디</th>
						<th>이름</th>
						<th>전화번호</th>
						<th>관리 지역</th>
						<th>사용 여부</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
    </section>
	
	<div id="overlay"></div>
	<div id="modal">
	    <div class="modal-header">
	        <span class="modal-title"></span>
	        <span class="close">&times;</span>
	    </div>
	    <div class="modal-body">
			<form id="form">
		        <p>아이디</p>
				<input type="text" class="form-control" id="id" name="id" autocomplete="off">
				
				<p><span>패스워드</span><label class="alert-text"></label></p>
				<input type="password" class="form-control" id="pwd" name="pwd" autocomplete="off">
				
				<p>이름</p>
				<input type="text" class="form-control" id="name" name="name" autocomplete="off">
				
				<p>전화번호</p>
				<input type="text" class="form-control" id="tel" name="tel" data-phone-number-chk autocomplete="off">
				
				<p>관리 지역명</p>
				<select class="form-select" id="region-cd" name="region-cd" autocomplete="off">
				</select>
				
				<p>사용 여부</p>
				<p class="onoff">
					<input type="checkbox" class="form-check-input" id="useYn" name="useYn">
					<label for="useYn"></label>
				</p>
			</form>
	    </div>
	    <div class="modal-footer">
	        <button class="btn btn-sm btn-primary btn-save" id="save">저장</button>
	        <button class="btn btn-sm btn-secondary btn-close">닫기</button>
	    </div>
	</div>
</body>

<script th:src="@{/js/manager.js}"></script>
</html>