<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout-root}" layout:fragment="body">
<style>
	tr {
		cursor: pointer;
	}
	
	.btn {
		font-size: 1rem;
	}
</style>
<body>
    <section>
		<div id="menu-wrap">
		    <p id="menu-name">매니저 관리</p>
		</div>
		
		<div class="search-data">
			<label>매니저명</label>
			<input type="text" id="search-manager-name">
			<label>관리 지역</label>
			<input type="text" id="search-region-name">
			
			<button class="btn small" onclick="search()">검색</button>
		</div>
		
		<div class="table-wrap">
			<table>
				<thead>
					<tr style="cursor: default">
						<th>아이디</th>
						<th>이름</th>
						<th>전화번호</th>
						<th>관리 지역</th>
					</tr>
				</thead>
			</table>
		</div>
    </section>
	
	<div id="overlay"></div>
	<div id="modal">
	    <div class="modal-header">
	        <span class="modal-title"></span>
	        <span class="close">&times;</span>
	    </div>
	    <div class="modal-body">
	        <p>아이디</p>
			<input type="text" id="manager-id" disabled>
			
			<p>이름</p>
			<input type="text" id="manager-name" disabled>
			
			<p>전화번호</p>
			<input type="text" id="manager-tel" disabled>
			
			<p>관리 지역명</p>
			<input type="text" id="manager-region-names" disabled>
			
			<p>사용 여부</p>
			<p class="onoff">
				<input type="checkbox" value="1" id="manager-use">
				<label for="manager-use"></label>
			</p>
	    </div>
	    <div class="modal-footer">
	        <button class="btn btn-close">닫기</button>
	        <!-- <button class="btn btn-save">저장</button> -->
	    </div>
	</div>
</body>

<script th:src="@{/js/manager.js}"></script>
</html>