<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="head-default">
<head>
    <meta charset="UTF-8">
	<!-- https -->
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
	<!-- http -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="favicon" href="/favicon.ico" /> -->
    <title>SMART FARM</title>
</head>
<link rel="stylesheet" th:href="@{/css/cmmn.css}">
<link rel="stylesheet" th:href="@{/css/chart.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/nav.css}">
<link rel="stylesheet" th:href="@{/css/body.css}">
<link rel="stylesheet" th:href="@{/css/section.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/dashboards/dashboards.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script th:src="@{/js/cmmn.js}"></script>
<script th:src="@{/js/nav.js}"></script>
<!-- <script th:src="@{/js/chart.js}"></script> -->
</html>