<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="nav-guest">
	<nav>
	    <div class="line"></div>
		
		<ul class="toggle-wrap">
			<!-- <p>토글 비활성화</p> -->
			<img id ="toggle" th:src="@{/img/img-btn-toggle-1.png}">
		</ul>
		
	    <ul class="navbar-wrap">
			<ul class="menu">
				<li class="main-nav">
					<span>온습도 변화량 조회</span>
					<ul class="sub-nav">
						<li><a href="#">변화 시점 기기 및 모듈 상태 조회</a></li>
						<li><a href="#">IP 카메라 이미지 조회</a></li>
					</ul>
				</li>
				<li class="main-nav">
					<span>관수 시설 상태 변화량 조회</span>
					<ul class="sub-nav">
						<li><a href="#">물탱크 수위계 조회</a></li>
						<li><a href="#">관수량 측정계 조회</a></li>
					</ul>
				</li>
				<li class="main-nav">
					<span>시간별 변화량 조회</span>
					<ul class="sub-nav">
						<li><a href="#">개폐량 조회</a></li>
						<li><a href="#">일조량 조회</a></li>
					</ul>
				</li>
				<li class="main-nav">
					<span>양액용 모듈 관리</span>
					<ul class="sub-nav">
						<li><a href="#">양액 투입량 관리</a></li>
						<li><a href="#">양액 종류 관리</a></li>
					</ul>
				</li>
				<li class="main-nav">
					<span>작물 관리</span>
					<ul class="sub-nav">
						<li><a href="#">작물 성장 상태 조회</a></li>
						<li><a href="#">작물 정보 관리</a></li>
					</ul>
				</li>
			</ul>
		</ul>
	</nav>
</html>