<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="nav-root">
	<nav>
	    <!-- 프로필 사진 -->
	    <div class="profile-wrap">
	        <img class="profile-photo" th:src="@{/img/img-noprofile.png}">
	        <p><span id="username" th:text="${#authentication.principal.name}"></span>님, 안녕하세요!</p>
	    </div>

		<!-- regionList -->
		
	    <div class="line"></div>

	    <ul class="navbar-wrap">
			<li class="main-plant"><img src="https://img.icons8.com/?size=20&id=88608&format=png"><span>하우스 관리</span></li>
			<li class="sub-plant"><a th:href="@{/root/home}">하우스 관리</a></li>
			<li class="sub-plant"><a th:href="@{/root/home}">매니저 관리</a></li>
	    </ul>
	</nav>
</html>