<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="nav-root">
	<nav>
		<input type="hidden" id="api-url" th:value="${@environment.getProperty('api.url')}" />
		<input type="hidden" id="region-cds" th:value="${#authentication.principal.regionCodes}" />

		<!-- regionList -->
		
	    <div class="line"></div>
		
		<ul class="toggle-wrap">
			<!-- <p>토글 비활성화</p> -->
			<img id ="toggle" th:src="@{/img/img-btn-toggle-1.png}">
		</ul>
		
	    <ul class="navbar-wrap">
			<!-- <li class="main-nav"><img src="https://img.icons8.com/?size=20&id=88608&format=png"><span>하우스 관리</span></li> -->
			<ul class="menu">
				<li class="main-nav">
					<span>메인 메뉴</span>
					<ul class="sub-nav">
						<li><a th:href="@{/root/house}">하우스 관리</a></li>
						<li><a href="#">서브 메뉴</a></li>
						<li><a href="#">서브 메뉴</a></li>
						<li><a href="#">서브 메뉴</a></li>
						<li><a href="#">서브 메뉴</a></li>
					</ul>
				</li>
				<li class="main-nav">
					<span>메인 메뉴</span>
					<ul class="sub-nav">
						<li><a th:href="@{/root/manager}">매니저 관리</a></li>
						<li><a href="#">서브 메뉴</a></li>
						<li><a href="#">서브 메뉴</a></li>
						<li><a href="#">서브 메뉴</a></li>
						<li><a href="#">서브 메뉴</a></li>
					</ul>
				</li>
			</ul>
	    </ul>
	</nav>
</html>