@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Pretendard-Regular';
    user-select: none; /* select 금지 */
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

select {
    padding: 8px 14px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.btn {
	box-sizing: border-box;
    background: #dbdbdb;
    color: #fff;
    font-size: 20px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
	background-color: #333;
    transition: background 0.3s ease, transform 0.1s ease;
}

.btn.small {
	padding: 10px;
	font-size: 13px;
}

/* 테이블 */
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

tr {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
}

table th, table td {
	padding: .625em;
	text-align: center;
}

table th {
	text-transform: uppercase;
}

.table-wrap {
	padding: 0 10px;	
}

/* 스위치 버튼 */
.onoff {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  position: relative;
  cursor: pointer;
  width: 75px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  margin: 10px 0;
}

.onoff label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  border-radius: 5px;
  font-weight: bold;
  -webkit-transition: background 0.3s, text-indent 0.3s;
  -moz-transition: background 0.3s, text-indent 0.3s;
  -o-transition: background 0.3s, text-indent 0.3s;
  transition: background 0.3s, text-indent 0.3s;
  text-indent: 27px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
}

.onoff label:after {
  content: "미사용";
  display: block;
  position: absolute;
  top: 0px;
  left: 7px;
  width: 100%;
  font-size: 12px;
  color: #fff;
  z-index: 1;
}

.onoff label:before {
  content: "";
  width: 15px;
  height: 24px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 3px;
  left: 3px;
  display: block;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.onoff input:checked + label {
  background: #378b2c;
  text-indent: 8px;
}

.onoff input:checked + label:after {
  content: "사용";
  color: #fff;
  left: 3px;
}

.onoff input:checked + label:before {
  left: 57px;
}