@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

header {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

header span {
    font-family: 'Freesentation-9Black';
    font-size: 25px;
    font-weight: bold;
    color: #333;
}